* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  width: 100%;
  /* height: 100%; */
}
body {
  background-color: rgb(240, 238, 235);
  font-family: "Cabin", sans-serif;
}
.body {
  margin: auto;
  max-width: 1200px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}
.buttons {
  width: 100%;
}
button {
  height: 30px;
  width: 180px;
  font-family: "Merriweather", serif;
  /* margin: 10px; */
  font-size: 16px;
  /* color: white; */
  background-color: white;
  /* border-radius: 10px; */
  cursor: pointer;
  border: solid 1px rgb(225, 225, 225);
  box-shadow: 0px 10px 10px -12px black;
}
button:hover {
  /* background-color: lightgray; */
  box-shadow: 0px 14px 20px -12px black;
  color: darkred;
}
button:active {
  box-shadow: none;
  background-color: rgb(244, 244, 244);
  border: solid 1px rgb(191, 191, 191);
}

#menuContainer {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-around;
  row-gap: 40px;
}
.card {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 320px;
  margin-top: 100px;
  border: solid 1px rgb(200, 200, 200);
  box-shadow: 0px 10px 30px -20px black;
}
img {
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
  border: solid 1px lightgray;
}
.menuImg {
  display: block;
  position: absolute;

  top: -40px;
  justify-content: center;
  padding: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  box-shadow: 0px 5px 14px -8px black;
  /* border-radius: 10px; */
  background-color: white;
  /* border: solid 1px black; */
  /* float: right; */

  /* padding: 10px 30px 10px 10px; */
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
}

h2 {
  padding: 40px 0 10px;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  font-size: 22px;
}

h3 {
  margin-top: 170px;
  text-align: right;
  position: relative;
  font-size: 14px;
  padding-right: 50px;
}
p {
  padding: 10px 0 40px;
  line-height: 24px;
}

h4 {
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
